.flex {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerForm  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loginForm  {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

#loginForm input, #registerForm input, #createNoteForm input {
  font-size: 1.5rem;
}

.error {
  border: solid 3px rgba(239, 0, 0, 0.666);
  background-color: rgba(130, 0, 0, 0.35);
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px;
}

.navbar-container {
  flex-direction: row;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0px;
  margin: 10px 10px;
  background-color: #1717177e;
  border-radius: 10px;
}

.navbar-left {
  font-size: 2rem;
  padding-left: 20px;
  margin: auto 0;
}

.navbar-right {
  padding-right: 20px;
  display: flex;
  gap: 20px;
}

.navbar-container button {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: solid #2e2e2ea1 1px;
  background-color: #3c3c3c;
  cursor: pointer;
}

.navbar-container button:hover {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: solid #ffffff 1px;
  background-color: #3c3c3c;
  cursor: pointer;
}

.component-container {
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  display: grid;
  padding: 20px;
  margin: 10px;
  background-color: #2e2e2ea1;
  border-radius: 10px;
  grid-template-columns: 50% 50%;
}

.dashboard-container h1 {
  grid-row: 1;
  grid-column: span 2;
  text-align: center;
}

.noteform-container, .notes-container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  background-color: #1717177e;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.noteform-container h2, .notes-container h2 {
  padding-bottom: 10px;
}

#createNoteForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notes-container li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background-color: #2e2e2ea1;
  border-radius: 10px;
  padding: 20px 10px;
}

.homePage {
  display: flex;
  flex-direction: column;
  max-width: 40vh;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
}

.modal-content {
  margin: 20vh auto auto auto;
  background-color:#3c3c3c;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vh;
  font-size: 2rem;
}

.modal-content button, input, textarea {
  font-size: 1.5rem;
}